
body {
	margin: 3px;
}

nav {
	height: 30px;
	width: 100%;
	background-color: blue;
}

nav h1 {
	margin: 0px;
	display: inline-block;
}

.list-con {
	position: absolute;
	width: 150px;
	top: 33px;
	bottom: 3px;
	border: 1px solid red;
}

.module-con {
	position: absolute;
	top: 33px;
	left: 156px;
	right: 3px;
	bottom: 3px;
	border: 1px solid green;
}